.logo-centerer {
  display: flex;
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(135deg, rgba(30,15,15,0.95) 0%, rgba(0,0,0,0.65) 50%, rgba(30,15,15,1) 100%), url('https://f.nordiskemedier.dk/2t01i5fj5qyj5d7b.jpg') no-repeat; // url('https://f.nordiskemedier.dk/2t01i5fj5qyj5d7b.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  div {
    text-align: center;
    img {
      width: 100%;
    }
  }
}
.home_landing_headline {
  font-size: 2em;
  color: #3a82b4;
}
