<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="brand_font_nav">MY ACS</span> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Dashboard", my_acs_path %></li>
        <% @all_buildings.each do |building| %>
        <li><%= link_to building.name.split.map(&:capitalize).join(" "), building_path(building.id) %></li>
        <% end %>
      </ul>
    </li>
      <li><a href="#">Link</a></li>
      <li><a href="#">One More Link</a></li>
  </ul>
<% else %>
<% end %>
