    <div class="logo-centerer">
      <div>
        <%= image_tag "hk_logo_500x233.png", style: "" %>
        <h1 class="brand_font text_border_headliner" style="font-size: 3.5em; color: #3a82b4;" align="center">home keep</h1>
      </div>
    </div>
